@import "_mystyles.less";


.over {
	
	background-color:white;
	margin:45px auto;
			
	}
			
.blurb {
			
	padding-bottom:25px;	
			
		.full-story {
				
			margin-bottom:40px;
		
		}	
				
	}
		
.two, .four, .six {
			
	background-attachment:scroll;
}


.two {
	background-image: url(../../images/sitewide/bg-image-01.jpg);
	height:512px;	
}


.four {
	background-image: url(../../images/sitewide/bg-image-02.jpg);
	height:380px;
}

.six {
	background-image: url(../../images/sitewide/bg-image-03.jpg);
	height:200px;
}

.news-columns {
	padding-left:0px;
	padding-right:0px;
}

.container:after {
	clear:none;
}


/*Press Releases */




.two {
	background-image: url(../../images/sitewide/bg-image-04.jpg);
	
}

.press-release-list {
	padding-left:0px;
	
	h1 {
		margin-top:55px;
		margin-bottom:40px;
	}
}



.news {
	
	margin-bottom:65px;
	
	h1 {
		margin-top:55px;
		margin-bottom:35px;
	}
	
	h4 {
		font-family:@district-book;
		
	}
}

.release-years {
	padding-left:10px;
	
	a:link, a:visited {
		color:@oww-dark-gray;	
	}
	
	a:hover, a:active {
		color:@oww-poppy;
	}
	
	.active a {
		color:@oww-poppy;
	}
	
}





.press-text {
	padding-left:0px;
	
	h2 {
		color:@oww-poppy;
		margin-top:0px;
	}
}

.press-image {
	margin-bottom:40px;
}




/*Press Release Single*/
#press-releases-single {
	
	.two {
		height:316px;
	}
	
	.four {
		background-image: url("../../images/sitewide/bg-image-05.jpg");
		height:200px;
	}

	
}

.press-release-hero {
	margin-bottom:35px;
}

.press-release-content {
	margin-bottom:75px;
}

.internal {
	
 	.over{
		padding-top:35px;
		padding-bottom:35px;	
		padding-left:25px;
		padding-right:25px;
		
			img {
				margin-right:15px;
				}
	
			}
	
}


/* Extra Small Screens 1 - 768 */

@media (min-width: 1px) and (max-width: 767px) {
	.two {
		height:200px;
	}
	
	.press-text {
		padding-left:15px;
	}
	
	.blurb {
		border-right:none;
		
		.full-story {
			margin-bottom:30px;
			
			
		}
	}
	
	.cover-image {
		padding-left:0px;	
	}
	
	.thirds {
		padding-top:15px;
		padding-left:0px;
	}
	
	.full-story {
			
			
			h2 {
				font-family: @district-thin;
				color:@oww-poppy;
				font-size:21px;
				line-height:24px;
			}
		}
	.press-release-list {
		
		h1 {
			
			margin-top:30px;
			margin-bottom:20px;
		}
	}
	
	.press-release-content {
		margin-bottom:25px;
	}
	
	.news-thumbnails {
		margin-top:30px;
	}
	
	
	#press-releases-single {
		
		.two {
			height:200px;
		}
	}
}

/*Small Screens 768 - 992 */

@media (min-width: 768px) and (max-width: 991px) {
	
	.blurb {
		border-right:none;
		
		.full-story {
			margin-bottom:30px;
			
			
		}
	}
	
	.cover-image {
		padding-left:15px;	
	}
	
	.full-story {
			
			
			h2 {
				font-family: @district-thin;
				color:@oww-poppy;
				font-size:21px;
				line-height:24px;
			}
		}

	.press-release-list {
		padding-left:15px;
	}
}


