@import "_mystyles.less";

.industries {
			
	width:247px; 	
}
	
.two {
	
	background-image: url("../../images/sitewide/bg-image-07.jpg");
}

.blurb {
	
	.full-story {
		
		margin-bottom:35px;
	}
}

.five {

	.col-md-8 {
		
		padding-top:0px;		
	}
	
	h1 {
		
		margin-top:45px;
		margin-bottom:0px;
	}
	
	h2 {
		
		margin-bottom:20px;
	}
	
	h3 {
		
		color:@oww-poppy;
		margin-top:25px;
	}
	
	img {
		
		margin-right:40px;
	}
	
	.two-col-text {
		
		padding-bottom:0px;
	}
}

.margin-bottom {
	
	margin-bottom:40px;
}

.six {
	
	height:512px;
}


.details {
	
	ul {
		
		margin-bottom:35px;
	}
	
	li {
		
		line-height:30px;
	}
}

.extended-stay {
	
	h1 {
		
		margin-top:60px;
		
	}
	
	h2 {
		
		line-height:28px;
	}
		
}

.entertainment-solutions {
	
	margin-top:75px;
	padding:0px;
	
	p {
		
		bottom:55px;
		position:relative;
		width:200px;
		margin-left:20px;
		
	}
	
}

.film, .theatre {
	
	padding-left:0px;
}

.schools, .gaming {
	
	padding-right:0px;
}

.entertainment-intro {
	
	text-align:center;
	
	h1 {
		
		margin-top:45px;
		
	}
		
	h2 {
			
		font-family: @district-thin;
		line-height:36px;
		margin-top:25px;
		padding-left:40px;
		padding-right:40px;
		
	}
		
	.archives {
			
		margin-bottom:40px;
		
	}
}

.filming {
	
	border-left: solid 1px @oww-border;
}

h4 {
	
	font-size:24px;
	color: @oww-poppy;
	font-family: @district-thin;
	margin-bottom:25px;
	
}
	

/* Extra Small Screens 1 - 768 */

@media (min-width: 1px) and (max-width: 767px) {	
	
	
	.entertainment-intro {
	
		h2 {
			
			padding:0px;
		}	
	}
	
	.margin-bottom {
		
		margin-bottom:0px;
	}
	
	h1 {
		
		font-size:21px;
	}
	
	.film, .theatre {
	
		padding-left:15px;
		margin-bottom:10px;
	
	}

	.schools, .gaming {
	
		padding-right:15px;
		margin-bottom:10px;
	
	}
	
	.schools {
		
		margin-bottom:30px;
	}

	.industries {
		
		background-color:transparent;
		position:static;
		display:block;
		width:auto;
		height:auto;
		
		h3 {
			
			color: @oww-poppy;
			font-size:13px;
			padding-bottom:5px;
			padding-top:0px;
			padding-left:0px;
			text-transform:uppercase;
	
		}
				
	}
	
	.entertainment-solutions {
	
		margin-top:0px;
		
		p {
			
			position:static;
			margin-left:0px;

		}
	}
	
	.extended-stay {
	
		h1 {
		
			margin-top:20px;
				
		}
		
		h2 {
			
			margin-top:10px;
			line-height:20px;
		}
		
	}
	
	.three {
		
		padding-bottom:20px;
	}
	
	
	.five {
		
		h1 {
			
			padding-top:0px;
			margin-top:15px;
			padding-left:15px;
		}
		
		.nav-tabs > li {
			
			font-size:16px;
		}
		
		.tab-content {
			
			padding-left:15px;
		}
	}
	
	.overview-gsa li, .tab-section li {
		
		font-size:14px;
	}
	
	.child-actors, .filming {
		
		padding-left:15px;
		padding-right:15px;
		border-right:none;
		
		h1 {
				
			margin-top:30px;
		
		}
			
		h2 {
				
			line-height:26px;
			
		}
	}
	
	.industry-insights {
		
		.orange-link {
			
			margin-bottom:30px;
		}
	}
	
	.insights {
		
		padding-bottom:0px;
	}
	
	.thirds {
		
		padding-top:15px;
	}

}


/*Small Screens 768 - 992 */

@media (min-width: 768px) and (max-width: 991px) {
	
	.entertainment-solutions {
		
		p {
			
			margin-left:55px;
			
		}
	}
	
	.extended-stay.three {
		
		padding-left:15px;
		padding-right:15px;
	}
	
	.film, .theatre {
    
    	padding-left: 15px;
	
	}
	
	.child-actors, .filming {
		
		padding-left:30px;
		padding-right:30px;
		border-right:none;
	}
	
	.five {
		
		h1 {
			
			padding-top:0px;
			margin-top:20px;
		}
	}
	
	.tab-content {
		
		margin-bottom:40px;
	}
	
	.tab-section {
		
		padding-left:30px;
		padding-right:30px;
	}
	
	.industry-insights {
		
		.orange-link {
			
			margin-bottom:30px;
			display:block
		}
	}
	
	.industries {
		
		width: 247px !important;
	}
	
	.filming {
		
		border-left:none;
	}

}

/* Medium Screens 992 - 1200 */

@media (min-width: 992px) and (max-width: 1200px) {
	
	.industries {
		
		width:220px;
	}
	
	.film, .theatre {
	
		padding-left:15px;
	
	}

	.schools, .gaming {
	
		padding-right:15px;
	
	}

	.three {
		
		padding-left:0px;
	}
	
	.entertainment-solutions {
	
		margin-top:35px;
		
		p {
		
			margin-left:0px;
			
		}
	
	}

	.child-actors, .filming {
		
		padding-left:15px;
		padding-right:15px;
		
	}

}