
.over {

	background-color:white;
	margin:45px auto;
			
}


.two {
	background-image: url(../../images/government/bg-image-01.jpg);
	
	}
	
.four {
	
	background-image: url(../../images/government/bg-image-02.jpg);
}

.six {
	
	background-image: url(../../images/government/bg-image-03.jpg);
}

.industries {
    background-color: #F05323;
    bottom: 72px;
    display: table;
    height: 75px;
    opacity: 0.9;
    position: relative;
    width: 350px;
}

.three {
	
  h3 {
    color: #FFFFFF;
    display: table-cell;
    font-family: district_bookbook,Helvetica,Arial,sans-serif;
    font-size: 20px;
    padding: 15px;
    text-transform: capitalize;
    vertical-align: middle;
    width: 250px;
}

}

.industry-text {
    bottom: 50px;
    position: relative;
}


/* Medium Screens 992 - 1200 */

@media (min-width: 992px) and (max-width: 1200px) {

	
	
		.industries {
			
			width:100%
		}
	
	
}

@media (min-width: 1px) and (max-width: 380px) {
	
	#government {
		
		.industries {
			
			width:100%;
			max-width: 350px;
			height: 66px;
			bottom:65px;
		}
		
		.solutions {
			height:265px;
		}
		
		
	}
}

@media (min-width: 321px) and (max-width: 480px) {
	
	.solutions {
		
		img {
			margin: 0 auto;
		}
	}
	
	 
		.industries {
			
			margin: 0 auto;

		}
	
}