@import "_mystyles.less";

.two {
	background-image: url("../../images/sitewide/bg-image-07.jpg");
}

.blurb {
	
	.full-story {
		
		margin-bottom:35px;
	}
}

nav {
	width:100%;
}

.sub-nav .navbar-nav > li > a {
	
	padding-left:19px;
	padding-right:19px;
	font-family: @district-thin;
}

.navbar-collapse {
	
	padding-left:0px;
	padding-right:0px;
}

.sub-navigation {
	
	.col-lg-12 {
		
		padding:0px;
	}
}