@import "_mystyles.less";

.intro {
	padding-top:50px;
	text-align:center;
	
	p {
		font-size:18px;
	}
	
	h2 {
		
		line-height:36px;
	}
}

.intro.oakwood {
	
	border-right:solid 1px @oww-border;
	padding-left:45px;
	padding-right:45px;
	
}


.intro.execustay {
	
	padding-right:22px;
	padding-left:25px;
}

.logo {
	
	margin-bottom:30px;
}

.five {

	.col-md-8 {

		padding-top:15px;
			
	}
	
	h2 {
		
		padding-left:25px;
		padding-right:25px;
	}
}

.six {
	
	height:512px;
}

/* Extra Small Screens 1 - 768 */

@media (min-width: 1px) and (max-width: 767px) {	
	


}

/* Medium Screens 992 - 1200 */

@media (min-width: 992px) and (max-width: 1200px) {
	
	.heading {
		
		h1 {
			
			font-size:34px;
		}
		
		h2 {
			
			margin-top:20px;
		}
	}

}