
.over {

	background-color:white;
	margin:45px auto;
			
}


.two {
	background-image: url(../../images/government/bg-image-01.jpg);
	
	}
	
.four {
	
	background-image: url(../../images/government/bg-image-02.jpg);
}

.six {
	
	background-image: url(../../images/government/bg-image-03.jpg);
}