@import "_mystyles.less";

.two {
    background-image: url("../../images/sitewide/bg-image-04.jpg");
    height: 512px;
}

.four {
    background-image: url("../../images/sitewide/bg-image-03.jpg");
    height: 512px;
}

.industries {
	width:100%;
}