@import "_mystyles.less";


.over {
	
	background-color:white;
	margin:45px auto;
			
	}
			
.blurb {
			
	padding-bottom:25px;	
			
		.full-story {
				
			margin-bottom:40px;
		
		}	
				
	}
		
.two, .four, .six {
			
	background-attachment:scroll;
}


.two {
	background-image: url(../../images/sitewide/bg-image-01.jpg);
	height:512px;	
}


.four {
	background-image: url(../../images/sitewide/bg-image-02.jpg);
	height:380px;
}

.six {
	background-image: url(../../images/sitewide/bg-image-03.jpg);
	height:200px;
}

.news-columns {
	padding-left:0px;
	padding-right:0px;
}

.container:after {
	clear:none;
}